sudo: required
language: node_js
node_js:
  - node
cache:
  yarn: true
  directories:
    - node_modules
    - /home/travis/.cache/Cypress
before_install:
  - npm install -g yarn@latest
  - yarn --version
install:
  - yarn
script:
  - yarn run lint
  - yarn run test
